#map {
        height: 94vh;
        top: 4em;
}

.info {
    max-height: 790px;
    width: 400px;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.nearest_sidebar {
    line-height: 18px;
    color: #555;
}
.nearest_sidebar i {
    width: 18px;
    /*height: 18px;*/
    float: left;
    margin-right: 8px;
    opacity: 0.7;
    margin-left: 8px;
}

.points-table{
    max-height: inherit;
    overflow: scroll;
    padding-top: 1em;
}

.near-point-nearest_sidebar {
    cursor: pointer;
}

.legend {
    background-color: none;
    width: 200px;
    margin-top: 1em;
}
.legend-table{
    margin-left:1em;
}

#footer{
    height: 8em;
    position:absolute;
    z-index:10000;
}

#geolocate{
    background-color:rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 4px;

}
